In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('h:machinfy/content/content1/Churn_Modelling.csv')

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10002 non-null  int64
 1   CustomerId       10002 non-null  int64
 2   Surname          10002 non-null  object
 3   CreditScore      10002 non-null  int64
 4   Geography        10001 non-null  object
 5   Gender           10002 non-null  object
 6   Age              10001 non-null  float64
 7   Tenure           10002 non-null  int64
 8   Balance          10002 non-null  float64
 9   NumOfProducts    10002 non-null  int64
 10  HasCrCard        10001 non-null  float64
 11  IsActiveMember   10001 non-null  float64
 12  EstimatedSalary  10002 non-null  float64
 13  Exited           10002 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
RowNumber,10002.0,5.001500e+03,2887.472338,1.00,2501.25,5001.50,7.501750e+03,10000.00
CustomerId,10002.0,1.569093e+07,71931.769345,15565701.00,15628524.75,15690732.00,1.575323e+07,15815690.00
CreditScore,10002.0,6.505551e+02,96.661615,350.00,584.00,652.00,7.180000e+02,850.00
Age,10001.0,3.892231e+01,10.487200,18.00,32.00,37.00,4.400000e+01,92.00
Tenure,10002.0,5.012498e+00,2.891973,0.00,3.00,5.00,7.000000e+00,10.00
Balance,10002.0,7.649111e+04,62393.474144,0.00,0.00,97198.54,1.276478e+05,250898.09
NumOfProducts,10002.0,1.530194e+00,0.581639,1.00,1.00,1.00,2.000000e+00,4.00
HasCrCard,10001.0,7.055294e-01,0.455827,0.00,0.00,1.00,1.000000e+00,1.00
IsActiveMember,10001.0,5.149485e-01,0.499801,0.00,0.00,1.00,1.000000e+00,1.00
EstimatedSalary,10002.0,1.000833e+05,57508.117802,11.58,50983.75,100185.24,1.493837e+05,199992.48
Exited,10002.0,2.037592e-01,0.402812,0.00,0.00,0.00,0.000000e+00,1.00

In [10]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
df.describe(include='object')

       Surname Geography Gender
count    10002     10001  10002
unique    2932         3      2
top      Smith    France   Male
freq        32      5014   5458

In [12]:
df.duplicated().sum()

2

In [ ]:
# Data Cleaning

In [13]:
df.drop('CustomerId', axis=1, inplace=True)
df.drop('Surname', axis=1, inplace=True)
df.drop('RowNumber', axis=1, inplace=True)
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9996 entries, 0 to 10000
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      9996 non-null   int64
 1   Geography        9996 non-null   object
 2   Gender           9996 non-null   object
 3   Age              9996 non-null   float64
 4   Tenure           9996 non-null   int64
 5   Balance          9996 non-null   float64
 6   NumOfProducts    9996 non-null   int64
 7   HasCrCard        9996 non-null   float64
 8   IsActiveMember   9996 non-null   float64
 9   EstimatedSalary  9996 non-null   float64
 10  Exited           9996 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 937.1+ KB

In [ ]:
# Encoding and scaling

In [15]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
import numpy as np

df_encoded = df.copy()

label_encoder_geography = LabelEncoder()
df_encoded["Geography"] = label_encoder_geography.fit_transform(df_encoded["Geography"])

label_encoder_gender = LabelEncoder()
df_encoded["Gender"] = label_encoder_gender.fit_transform(df_encoded["Gender"])

features = ["Geography", "Gender", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "IsActiveMember"]

scaler = StandardScaler()
df_encoded[features] = scaler.fit_transform(df_encoded[features])

df_encoded["CreditScore_Log"] = np.log1p(df_encoded["CreditScore"]) #np.log1p(x),computes the natural logarithm of (1 + x) using NumPy. to reduce skewness

df_encoded.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Log
0,619,-0.902039,-1.095807,0.293570,-1.041870,-1.225699,-0.911557,0.646119,0.970619,101348.88,1,6.429719
1,608,1.515004,-1.095807,0.198222,-1.387627,0.117505,-0.911557,-1.547702,0.970619,112542.58,0,6.411818
2,502,-0.902039,-1.095807,0.293570,1.032669,1.333214,2.526905,0.646119,-1.030270,113931.57,1,6.220590
3,699,-0.902039,-1.095807,0.007526,-1.387627,-1.225699,0.807674,-1.547702,-1.030270,93826.63,0,6.551080
5,645,1.515004,0.912570,0.484266,1.032669,0.597486,0.807674,0.646119,-1.030270,149756.71,1,6.470800

In [ ]:
# Predict Credit Score using Regression Algorithms. The data has 2 targets, ie. Credit score and Exited
# Note that User input is without credit score. It is required to predict the credit score and use it together to predict Churn

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

features = ["Geography", "Gender", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "IsActiveMember"]

X = df_encoded[features]
y = df_encoded["CreditScore_Log"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

models = {
    "Linear Regression": LinearRegression(),
    "Random Forest": RandomForestRegressor(n_estimators=100, random_state=42),
    "XGBoost": XGBRegressor(n_estimators=100, random_state=42, objective="reg:squarederror")
}

results = {}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred_log = model.predict(X_test)
    y_pred = np.expm1(y_pred_log)  # reverse the transformation and get back to original scale (for predicted values)
    y_test_original = np.expm1(y_test) # reverse the transformation and get back to original scale (for test values)
    mae = mean_absolute_error(y_test_original, y_pred)

    results[name] = mae
    print(f"{name} - MAE: {mae:.4f}")


best_model = min(results, key=results.get)
print(f" Best Model: {best_model}  MAE = {results[best_model]:.4f}")

Linear Regression - MAE: 80.1529
Random Forest - MAE: 84.3232
XGBoost - MAE: 84.3898
 Best Model: Linear Regression  MAE = 80.1529

In [ ]:
# Churn Prediction Using Classification Algorithms

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, f1_score

classification_features_full = features + ["CreditScore"]

X_full = df_encoded[classification_features_full]
y_full = df["Exited"]

X_train_full, X_test_full, y_train_full, y_test_full = train_test_split(
    X_full, y_full, test_size=0.2, random_state=42
)

classification_models_full = {
    "Logistic Regression": LogisticRegression(max_iter=1000, random_state=42),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "XGBoost": XGBClassifier(n_estimators=100, random_state=42, use_label_encoder=False, eval_metric="logloss")
}

classification_results_full = {}

for name, model in classification_models_full.items():
    model.fit(X_train_full, y_train_full)
    y_pred_full = model.predict(X_test_full)

    accuracy = accuracy_score(y_test_full, y_pred_full)
    f1 = f1_score(y_test_full, y_pred_full)

    classification_results_full[name] = {"Accuracy": accuracy, "F1-Score": f1}

    print(f"{name} - Accuracy: {accuracy:.4f},")


best_classification_model_full = max(classification_results_full, key=lambda k: classification_results_full[k]["F1-Score"])
print(f" Best Classification Model: {best_classification_model_full} ")

Logistic Regression - Accuracy: 0.8055,
Random Forest - Accuracy: 0.8540,

C:\Users\Lenovo\anaconda2\Lib\site-packages\xgboost\training.py:183: UserWarning: [16:57:31] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

XGBoost - Accuracy: 0.8430,
 Best Classification Model: Random Forest

In [ ]:
# Use the Winning Regression and Classification Models and Test them

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, mean_absolute_error

df = pd.read_csv('h:machinfy/content/content1/Churn_Modelling.csv')

df.drop(columns=["RowNumber", "CustomerId", "Surname"], inplace=True)
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

label_encoder_geography = LabelEncoder()
df["Geography"] = label_encoder_geography.fit_transform(df["Geography"])

label_encoder_gender = LabelEncoder()
df["Gender"] = label_encoder_gender.fit_transform(df["Gender"])

features = ["Geography", "Gender", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "IsActiveMember"]

X_credit = df[features]
y_credit = np.log1p(df["CreditScore"])

X_train_credit, X_test_credit, y_train_credit, y_test_credit = train_test_split(X_credit, y_credit, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_credit = scaler.fit_transform(X_train_credit)
X_test_credit = scaler.transform(X_test_credit)

credit_model = LinearRegression()
credit_model.fit(X_train_credit, y_train_credit)
y_pred_credit_log = credit_model.predict(X_test_credit)
y_pred_credit = np.expm1(y_pred_credit_log)
credit_mae = mean_absolute_error(np.expm1(y_test_credit), y_pred_credit)

# Generate final predicted credit scores on their original scale by applying the trained model on scaled input features and reversing the
# log1p transformation used during training.
df["Predicted_CreditScore"] = np.expm1(credit_model.predict(scaler.transform(X_credit)))

classification_features = features + ["Predicted_CreditScore"]
X_classification = df[classification_features]
y_classification = df["Exited"]

X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_classification, y_classification, test_size=0.2, random_state=42)

classification_model = RandomForestClassifier(n_estimators=100, random_state=42)
classification_model.fit(X_train_class, y_train_class)
y_pred_class = classification_model.predict(X_test_class)
classification_accuracy = accuracy_score(y_test_class, y_pred_class)

new_customer_input = np.array([[2, 1, 35, 5, 75000, 2, 1, 1]]) # Note input without credit score
new_customer_scaled = scaler.transform(new_customer_input)
predicted_credit_score_log = credit_model.predict(new_customer_scaled)
predicted_credit_score = np.expm1(predicted_credit_score_log)

#horizontal stack — it concatenates arrays side-by-side (column-wise).
new_customer_with_credit_score = np.hstack((new_customer_scaled, predicted_credit_score.reshape(-1, 1)))
predicted_exit = classification_model.predict(new_customer_with_credit_score) # predict new customer churn

# converts the model’s numeric prediction (1 or 0) into a clear human-readable label — “Will Leave” for predicted exits and
# “Will Stay” for predicted non-exits — making the result easier to interpret or display.
exit_status = "Will Leave" if predicted_exit[0] == 1 else "Will Stay" #Accesses the first (and often only) predicted label in the array.

print(f"Predicted Credit Score: {predicted_credit_score[0]:.2f}")
print(f"Customer Prediction: {exit_status}")

Predicted Credit Score: 648.89
Customer Prediction: Will Stay

C:\Users\Lenovo\anaconda2\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\Lenovo\anaconda2\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
# Save the Models, the Encoders, and the Scalers

In [23]:
import joblib # serializing and saving large Python objects, especially scikit-learn models, NumPy arrays, and pipelines.

# Save models to working directory (since no path is specified)
joblib.dump(credit_model, "credit_model.pkl") #.pkl stands for pickle file — a standard extension for serialized Python objects
joblib.dump(classification_model, "classification_model.pkl")

# Save scalers
joblib.dump(scaler, "scaler.pkl")

# Save encoders
joblib.dump(label_encoder_geography, "label_encoder_geography.pkl")
joblib.dump(label_encoder_gender, "label_encoder_gender.pkl")

print(" Models, scalers, and encoders saved successfully!")

 Models, scalers, and encoders saved successfully!

In [ ]:
# Load the Models, Encoders and Scalers and test the predictions using raw data

In [24]:
import numpy as np
import joblib

# Load models
credit_model_loaded = joblib.load("credit_model.pkl")
classification_model_loaded = joblib.load("classification_model.pkl")

# Load scalers
scaler_loaded = joblib.load("scaler.pkl")

# Load encoders
label_encoder_geography_loaded = joblib.load("label_encoder_geography.pkl")
label_encoder_gender_loaded = joblib.load("label_encoder_gender.pkl")

new_customer_raw = ["Spain", "Male", 35, 5, 75000, 2, 1, 1]

# Encoding categorical features
new_customer_encoded = [
    label_encoder_geography_loaded.transform([new_customer_raw[0]])[0], #Encode Geography, The [0] at the end extracts the single encoded value (e.g 2) from the resulting NumPy array.
    label_encoder_gender_loaded.transform([new_customer_raw[1]])[0]      # Encode Gender
] + new_customer_raw[2:]  # Add numerical values

# Convert to NumPy array
new_customer_input = np.array([new_customer_encoded]) #convert encoded features into a numpy array

# Scale input data
new_customer_scaled = scaler_loaded.transform(new_customer_input) # scale all new customer input

# Predict credit score
predicted_credit_score_log = credit_model_loaded.predict(new_customer_scaled)
predicted_credit_score = np.expm1(predicted_credit_score_log)

# Add predicted credit score to input features
new_customer_with_credit_score = np.hstack((new_customer_scaled, predicted_credit_score.reshape(-1, 1)))

# Predict if the customer will leave
predicted_exit = classification_model_loaded.predict(new_customer_with_credit_score)
exit_status = "Will Leave" if predicted_exit[0] == 1 else "Will Stay"

print(f"Predicted Credit Score: {predicted_credit_score[0]:.2f}")
print(f"Customer Prediction: {exit_status}")

Predicted Credit Score: 648.89
Customer Prediction: Will Stay

C:\Users\Lenovo\anaconda2\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\Lenovo\anaconda2\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(